<section
  class="sec-sign-in d-flex align-items-center justify-content-center my-5"
>
  <form
    class="sign-in-form p-4 w-50"
    [formGroup]="loginForm"
    (ngSubmit)="submitForm()"
  >
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
      @if (loginForm.get('email')?.errors && loginForm.get('email')?.touched) {
      <div class="errors">
        @if (loginForm.get('email')?.getError('required')) {
        <p>email is required</p>
        } @if (loginForm.get('email')?.getError('email')) {
        <p>email InValid Format</p>
        }
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
      />
      @if (loginForm.get('password')?.errors &&
      loginForm.get('password')?.touched) {
      <div class="errors">
        @if (loginForm.get('password')?.getError('required')) {
        <p>password is required</p>
        } @if (loginForm.get('password')?.getError('pattern')) {
        <p>must be at least 6 chars</p>
        }
      </div>
      }
    </div>
    <div class="d-flex justify-content-between align-items-center gap-1">
      <button [disabled]="loginForm.invalid" type="submit" class="main-btn">
        @if (regSpinner) {
        <i class="fas fa-spinner fa-spin me-1"></i>
        } Submit
      </button>
      <div class="message-err">{{ masErr }}</div>
    </div>
  </form>
</section>
