<footer class="text-center text-lg-start">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 px-5 sec-social"
  >
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks :</span>
    </div>
    <div class="social d-flex flex-row align-items-center">
      <a href="" class="me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>

  <section class="sec-links p-4">
    <div
      class="d-flex align-items-center justify-content-evenly flex-column flex-md-row"
    >
      <div class="mb-4 mt-2">
        <h6 class="text-uppercase fw-bold mb-4">
          <i class="fas fa-gem me-3"></i>Lotus haven
        </h6>
        <p>Here you can use the shop to buy anything you want it.</p>
      </div>

      <div class="mt-3">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
        <p><i class="fas fa-home me-3"></i> cairo, nasr city</p>
        <p>
          <i class="fas fa-envelope me-3"></i>
          lotus haven
        </p>
        <p><i class="fas fa-phone me-3"></i> 01123456789</p>
        <p><i class="fas fa-print me-3"></i> 01123456789</p>
      </div>
    </div>
  </section>

  <div class="text-center p-4 copy-right">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href=""> Lotushaven </a>
  </div>
</footer>
